<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1 align="center">嘤嘤嘤</h1>
<div align="center">
    <a th:href="@{/testScope1}">共享数据测试1</a>
    <br>
    <a th:href="@{/testScope2}">共享数据测试2</a>
    <br>
    <a th:href="@{/testScope3}">共享数据测试3</a>
    <br>
    <a th:href="@{/testScope4}">共享数据测试4</a>
    <br>
    <a th:href="@{/testScope5}">共享数据测试5</a>
    <br>
    <a th:href="@{/testScope6}">共享数据测试6</a>
    <br>
    <a th:href="@{/testScope7}">共享数据测试7</a>
</div>
<br>
<div align="center">
    <a th:href="@{/testRESTFul}">测试restful跳转页面</a>
</div>
</body>
</html>